extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5   
                img(src="img/nosotros.jpg", alt=" imagen de nosotros", class="img-fluid")
            .col-md-7  
                h1= page
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, reiciendis error! Unde eveniet ex amet ullam sunt 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aspernatur quos dolores excepturi nulla nisi accusamus eaque magnam facilis voluptatum soluta, quisquam reiciendis quasi vel autem est officia tempore! Cumque.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad") 
                    h2.mb-4 Seguridad  
                    p Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Atque consectetur possimus perferendis sapiente, ratione magnam aut.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino") 
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Atque consectetur possimus perferendis sapiente, ratione magnam aut.
                .col-md-4 
                    img(src="img/icono_precio.svg", alt="icono precio") 
                    h2.mb-4 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Atque consectetur possimus perferendis sapiente, ratione magnam aut.