extends ./layout/index
block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura
block contenido
    main.container.mt-5 
        h2.text-center.mt-5 
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas commodi ad voluptates ipsam illo doloribus minus suscipit iste doloremque? 
                    Nostrum itaque reiciendis consequuntur quisquam inventore ratione quis ullam totam quae?
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem rerum accusamus totam ab quisquam velit tenetur quasi blanditiis modi.
                    Odio perferendis facere aut, dolorem aspernatur voluptatem mollitia dicta distinctio officiis.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="pagina de inicio")
        include ./layout/bloque_travels
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Desuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2.500 USD 
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimonials
